.webpack-icon {
    position: relative;
    margin: 120px auto;
    width: 240px;
    height: 240px;
}

.webpack-icon .container {
    position: relative;
    margin: auto;
    width: 240px;
    height: 240px;
    transform: rotateX(-35deg) rotateY(45deg);
    animation: boxr 5s ease-in-out infinite 1s;

    transform-style: preserve-3d;
}

.webpack-icon .container .face {
    position: absolute;
    width: 240px;
    height: 240px;
    border: 1px solid #007f80;
    background-color: transparent;
    transform-origin: 50%;

    backface-visibility: hidden;
}

.webpack-icon .container .front {
    transform: translateZ(120px);
}

.webpack-icon .container .back {
    transform: rotateY(180deg) translateZ(120px);
}

.webpack-icon .container .right {
    transform: rotateY(90deg) translateZ(120px);
}

.webpack-icon .container .left {
    transform: rotateY(-90deg) translateZ(120px);
}

.webpack-icon .container .top {
    transform: rotateX(-90deg) translateZ(120px);
}

.webpack-icon .container .bottom {
    transform: rotateX(90deg) translateZ(120px);
}

.webpack-icon .innerContainer {
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    transform: rotateX(-35deg) rotateY(45deg);
    animation: boxr 5s ease-in-out infinite 1s;

    transform-style: preserve-3d;
}

.webpack-icon .innerContainer .face {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid #007f80;
    background-color: transparent;
    transform-origin: 50%;

    backface-visibility: hidden;
}

.webpack-icon .innerContainer .front {
    transform: translateZ(60px);
}

.webpack-icon .innerContainer .back {
    transform: rotateY(180deg) translateZ(60px);
}

.webpack-icon .innerContainer .right {
    transform: rotateY(90deg) translateZ(60px);
}

.webpack-icon .innerContainer .left {
    transform: rotateY(-90deg) translateZ(60px);
}

.webpack-icon .innerContainer .top {
    transform: rotateX(-90deg) translateZ(60px);
}

.webpack-icon .innerContainer .bottom {
    transform: rotateX(90deg) translateZ(60px);
}

@-moz-keyframes boxr {
    0% {
        transform: rotateX(-35deg) rotateY(45deg);
    }
    70% {
        transform: rotateX(-35deg) rotateY(405deg);
    }
    100% {
        transform: rotateX(-35deg) rotateY(405deg);
    }
}

@-webkit-keyframes boxr {
    0% {
        transform: rotateX(-35deg) rotateY(45deg);
    }
    70% {
        transform: rotateX(-35deg) rotateY(405deg);
    }
    100% {
        transform: rotateX(-35deg) rotateY(405deg);
    }
}

@-o-keyframes boxr {
    0% {
        transform: rotateX(-35deg) rotateY(45deg);
    }
    70% {
        transform: rotateX(-35deg) rotateY(405deg);
    }
    100% {
        transform: rotateX(-35deg) rotateY(405deg);
    }
}

@keyframes boxr {
    0% {
        transform: rotateX(-35deg) rotateY(45deg);
    }
    70% {
        transform: rotateX(-35deg) rotateY(405deg);
    }
    100% {
        transform: rotateX(-35deg) rotateY(405deg);
    }
}